@theme {
  --transparent: #00000000;
  --black: #000000ff;
  --white: #ffffffff;
  --slate-50: #f8fafcff;
  --slate-100: #f1f5f9ff;
  --slate-200: #e2e8f0ff;
  --slate-300: #cad5e2ff;
  --slate-400: #90a1b9ff;
  --slate-500: #62748eff;
  --slate-600: #45556cff;
  --slate-700: #314158ff;
  --slate-800: #1d293dff;
  --slate-900: #0f172bff;
  --slate-950: #020618ff;
  --gray-50: #f9fafbff;
  --gray-100: #f3f4f6ff;
  --gray-200: #e5e7ebff;
  --gray-300: #d1d5dcff;
  --gray-400: #99a1afff;
  --gray-500: #6a7282ff;
  --gray-600: #4a5565ff;
  --gray-700: #364153ff;
  --gray-800: #1e2939ff;
  --gray-900: #101828ff;
  --gray-950: #030712ff;
  --red-50: #fef2f2ff;
  --red-100: #ffe2e2ff;
  --red-200: #ffc9c9ff;
  --red-300: #ffa2a2ff;
  --red-400: #ff6467ff;
  --red-500: #fb2c36ff;
  --red-600: #e7000bff;
  --red-700: #c10007ff;
  --red-800: #9f0712ff;
  --red-900: #82181aff;
  --red-950: #460809ff;
  --yellow-50: #fefce8ff;
  --yellow-100: #fef9c2ff;
  --yellow-200: #fff085ff;
  --yellow-300: #ffe234ff;
  --yellow-350: #ffd812ff;
  --yellow-400: #ffcd15ff;
  --yellow-500: #f4b400ff;
  --yellow-600: #d08700ff;
  --yellow-700: #a65f00ff;
  --yellow-800: #894b00ff;
  --yellow-900: #733e0aff;
  --yellow-950: #432004ff;
  --green-50: #f0fdf4ff;
  --green-100: #dcfce7ff;
  --green-200: #b9f8cfff;
  --green-300: #7bf1a8ff;
  --green-400: #05df72ff;
  --green-500: #00c950ff;
  --green-600: #00a63eff;
  --green-700: #008236ff;
  --green-800: #016630ff;
  --green-900: #0d542bff;
  --green-950: #032e15ff;
  --sky-50: #f0f9ffff;
  --sky-100: #dff2feff;
  --sky-200: #b8e6feff;
  --sky-300: #74d4ffff;
  --sky-400: #00bcffff;
  --sky-500: #00a6f4ff;
  --sky-600: #0084d1ff;
  --sky-700: #0069a8ff;
  --sky-800: #00598aff;
  --sky-900: #024a70ff;
  --sky-950: #052f4aff;
  --blue-50: #eff6ffff;
  --blue-100: #dbeafeff;
  --blue-200: #bedbffff;
  --blue-300: #8ec5ffff;
  --blue-400: #51a2ffff;
  --blue-500: #2b7fffff;
  --blue-600: #155dfcff;
  --blue-700: #1447e6ff;
  --blue-800: #193cb8ff;
  --blue-900: #1c398eff;
  --blue-950: #162456ff;
  --indigo-50: #eef2ffff;
  --indigo-100: #e0e7ffff;
  --indigo-200: #c6d2ffff;
  --indigo-300: #a3b3ffff;
  --indigo-400: #7c86ffff;
  --indigo-500: #615fffff;
  --indigo-600: #4f39f6ff;
  --indigo-700: #432dd7ff;
  --indigo-800: #372aacff;
  --indigo-900: #312c85ff;
  --indigo-950: #1e1a4dff;
  --violet-50: #f5f3ffff;
  --violet-100: #ede9feff;
  --violet-200: #ddd6ffff;
  --violet-300: #c4b4ffff;
  --violet-400: #a684ffff;
  --violet-500: #8e51ffff;
  --violet-600: #7f22feff;
  --violet-700: #7008e7ff;
  --violet-800: #5d0ec0ff;
  --violet-900: #4d179aff;
  --violet-950: #2f0d68ff;
  --rose-50: #fff1f2ff;
  --rose-100: #ffe4e6ff;
  --rose-200: #ffccd3ff;
  --rose-300: #ffa1adff;
  --rose-400: #ff637eff;
  --rose-500: #ff2056ff;
  --rose-600: #ec003fff;
  --rose-700: #c70036ff;
  --rose-800: #a50036ff;
  --rose-900: #8b0836ff;
  --rose-950: #4d0218ff;
  --transparent-12: #0000001f;
  --transparent-16: #00000029;
  --transparent-20: #00000033;
  --transparent-24: #0000003d;
  --transparent-32: #00000052;
}
