@theme {
  --unit-0-5: 0.6px;
  --unit-0: 0px;
  --unit-1: 1px;
  --unit-2: 2px;
  --unit-4: 4px;
  --unit-8: 8px;
  --unit-12: 12px;
  --unit-16: 16px;
  --unit-24: 24px;
  --unit-32: 32px;
  --unit-40: 40px;
  --unit-48: 48px;
  --unit-64: 64px;
  --unit-percentage-0: 0px;
  --unit-percentage-20: 20px;
  --unit-percentage-40: 40px;
  --unit-percentage-60: 60px;
  --unit-percentage-80: 80px;
  --unit-percentage-100: 100px;
}
