@theme {
  --font-size-300: 12px;
  --font-size-350: 14px;
  --font-size-400: 16px;
  --font-size-450: 18px;
  --font-size-500: 20px;
  --font-size-600: 24px;
  --font-size-700: 28px;
  --font-size-800: 32px;
  --font-size-900: 36px;
  --font-size-1000: 40px;
  --font-size-1200: 48px;
  --font-size-1500: 60px;
  --line-height-400: 16px;
  --line-height-450: 18px;
  --line-height-500: 20px;
  --line-height-600: 24px;
  --line-height-700: 28px;
  --line-height-800: 32px;
  --line-height-900: 36px;
  --line-height-1000: 40px;
  --line-height-1200: 48px;
  --line-height-1400: 56px;
  --line-height-1500: 60px;
  --line-height-1700: 68px;
  --font-style-normal-thin: 100;
  --font-style-normal-extra-light: 200;
  --font-style-normal-light: 300;
  --font-style-normal-regular: 400;
  --font-style-normal-medium: 500;
  --font-style-normal-semi-bold: 600;
  --font-style-normal-bold: 700;
  --font-style-normal-extra-bold: 800;
  --font-style-normal-black: 900;
  --font-style-normal-extra-black: 950;
  --letter-spacing-tighter: -0.4px;
  --letter-spacing-tight: -0.2px;
  --letter-spacing-normal: 0px;
  --letter-spacing-loose: 0.2px;
  --letter-spacing-looser: 0.4px;
  --letter-spacing-loosest: 1px;
  --letter-spacing-expanded: 1.5px;
}
