@theme {
  --spacing-0: var(--unit-0);
  --spacing-2: var(--unit-2);
  --spacing-4: var(--unit-4);
  --spacing-8: var(--unit-8);
  --spacing-12: var(--unit-12);
  --spacing-16: var(--unit-16);
  --spacing-24: var(--unit-24);
  --spacing-32: var(--unit-32);
  --spacing-40: var(--unit-40);
  --spacing-48: var(--unit-48);
  --spacing-64: var(--unit-64);
  --border-radius-sm: var(--unit-2);
  --border-radius-md: var(--unit-4);
  --border-radius-lg: var(--unit-8);
  --border-radius-xl: var(--unit-12);
  --border-radius-2xl: var(--unit-16);
  --border-radius-rounded: 9999px;
  --border-width-xs: var(--unit-0.5);
  --border-width-sm: var(--unit-1);
  --border-width-md: var(--unit-2);
  --border-width-lg: var(--unit-4);
  --effect-shadow-2-cast-y: var(--unit-1);
  --effect-shadow-2-cast-blur: var(--unit-2);
  --effect-shadow-2-core-y: var(--unit-0);
  --effect-shadow-2-core-blur: var(--unit-1);
  --effect-shadow-4-cast-y: var(--unit-2);
  --effect-shadow-4-cast-blur: var(--unit-4);
  --effect-shadow-4-core-y: var(--unit-0);
  --effect-shadow-4-core-blur: var(--unit-2);
  --effect-shadow-8-cast-y: var(--unit-4);
  --effect-shadow-8-cast-blur: var(--unit-8);
  --effect-shadow-8-core-y: var(--unit-0);
  --effect-shadow-8-core-blur: var(--unit-4);
  --effect-shadow-16-cast-y: var(--unit-8);
  --effect-shadow-16-cast-blur: var(--unit-16);
  --effect-shadow-16-core-y: var(--unit-0);
  --effect-shadow-16-core-blur: var(--unit-8);
}

@layer semantic {
  .margin-0 {
    margin: var(--spacing-0);
  }
  .margin-2 {
    margin: var(--spacing-2);
  }
  .margin-4 {
    margin: var(--spacing-4);
  }
  .margin-8 {
    margin: var(--spacing-8);
  }
  .margin-12 {
    margin: var(--spacing-12);
  }
  .margin-16 {
    margin: var(--spacing-16);
  }
  .margin-24 {
    margin: var(--spacing-24);
  }
  .margin-32 {
    margin: var(--spacing-32);
  }
  .margin-40 {
    margin: var(--spacing-40);
  }
  .margin-48 {
    margin: var(--spacing-48);
  }
  .margin-64 {
    margin: var(--spacing-64);
  }

  /* Directional Margin Classes */
  .margin-t-0 {
    margin-top: var(--spacing-0);
  }
  .margin-t-2 {
    margin-top: var(--spacing-2);
  }
  .margin-t-4 {
    margin-top: var(--spacing-4);
  }
  .margin-t-8 {
    margin-top: var(--spacing-8);
  }
  .margin-t-12 {
    margin-top: var(--spacing-12);
  }
  .margin-t-16 {
    margin-top: var(--spacing-16);
  }
  .margin-t-24 {
    margin-top: var(--spacing-24);
  }
  .margin-t-32 {
    margin-top: var(--spacing-32);
  }
  .margin-t-40 {
    margin-top: var(--spacing-40);
  }
  .margin-t-48 {
    margin-top: var(--spacing-48);
  }
  .margin-t-64 {
    margin-top: var(--spacing-64);
  }

  .margin-r-0 {
    margin-right: var(--spacing-0);
  }
  .margin-r-2 {
    margin-right: var(--spacing-2);
  }
  .margin-r-4 {
    margin-right: var(--spacing-4);
  }
  .margin-r-8 {
    margin-right: var(--spacing-8);
  }
  .margin-r-12 {
    margin-right: var(--spacing-12);
  }
  .margin-r-16 {
    margin-right: var(--spacing-16);
  }
  .margin-r-24 {
    margin-right: var(--spacing-24);
  }
  .margin-r-32 {
    margin-right: var(--spacing-32);
  }
  .margin-r-40 {
    margin-right: var(--spacing-40);
  }
  .margin-r-48 {
    margin-right: var(--spacing-48);
  }
  .margin-r-64 {
    margin-right: var(--spacing-64);
  }

  .margin-b-0 {
    margin-bottom: var(--spacing-0);
  }
  .margin-b-2 {
    margin-bottom: var(--spacing-2);
  }
  .margin-b-4 {
    margin-bottom: var(--spacing-4);
  }
  .margin-b-8 {
    margin-bottom: var(--spacing-8);
  }
  .margin-b-12 {
    margin-bottom: var(--spacing-12);
  }
  .margin-b-16 {
    margin-bottom: var(--spacing-16);
  }
  .margin-b-24 {
    margin-bottom: var(--spacing-24);
  }
  .margin-b-32 {
    margin-bottom: var(--spacing-32);
  }
  .margin-b-40 {
    margin-bottom: var(--spacing-40);
  }
  .margin-b-48 {
    margin-bottom: var(--spacing-48);
  }
  .margin-b-64 {
    margin-bottom: var(--spacing-64);
  }

  .margin-l-0 {
    margin-left: var(--spacing-0);
  }
  .margin-l-2 {
    margin-left: var(--spacing-2);
  }
  .margin-l-4 {
    margin-left: var(--spacing-4);
  }
  .margin-l-8 {
    margin-left: var(--spacing-8);
  }
  .margin-l-12 {
    margin-left: var(--spacing-12);
  }
  .margin-l-16 {
    margin-left: var(--spacing-16);
  }
  .margin-l-24 {
    margin-left: var(--spacing-24);
  }
  .margin-l-32 {
    margin-left: var(--spacing-32);
  }
  .margin-l-40 {
    margin-left: var(--spacing-40);
  }
  .margin-l-48 {
    margin-left: var(--spacing-48);
  }
  .margin-l-64 {
    margin-left: var(--spacing-64);
  }

  .margin-x-0 {
    margin-left: var(--spacing-0);
    margin-right: var(--spacing-0);
  }
  .margin-x-2 {
    margin-left: var(--spacing-2);
    margin-right: var(--spacing-2);
  }
  .margin-x-4 {
    margin-left: var(--spacing-4);
    margin-right: var(--spacing-4);
  }
  .margin-x-8 {
    margin-left: var(--spacing-8);
    margin-right: var(--spacing-8);
  }
  .margin-x-12 {
    margin-left: var(--spacing-12);
    margin-right: var(--spacing-12);
  }
  .margin-x-16 {
    margin-left: var(--spacing-16);
    margin-right: var(--spacing-16);
  }
  .margin-x-24 {
    margin-left: var(--spacing-24);
    margin-right: var(--spacing-24);
  }
  .margin-x-32 {
    margin-left: var(--spacing-32);
    margin-right: var(--spacing-32);
  }
  .margin-x-40 {
    margin-left: var(--spacing-40);
    margin-right: var(--spacing-40);
  }
  .margin-x-48 {
    margin-left: var(--spacing-48);
    margin-right: var(--spacing-48);
  }
  .margin-x-64 {
    margin-left: var(--spacing-64);
    margin-right: var(--spacing-64);
  }

  .margin-y-0 {
    margin-top: var(--spacing-0);
    margin-bottom: var(--spacing-0);
  }
  .margin-y-2 {
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
  }
  .margin-y-4 {
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-4);
  }
  .margin-y-8 {
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-8);
  }
  .margin-y-12 {
    margin-top: var(--spacing-12);
    margin-bottom: var(--spacing-12);
  }
  .margin-y-16 {
    margin-top: var(--spacing-16);
    margin-bottom: var(--spacing-16);
  }
  .margin-y-24 {
    margin-top: var(--spacing-24);
    margin-bottom: var(--spacing-24);
  }
  .margin-y-32 {
    margin-top: var(--spacing-32);
    margin-bottom: var(--spacing-32);
  }
  .margin-y-40 {
    margin-top: var(--spacing-40);
    margin-bottom: var(--spacing-40);
  }
  .margin-y-48 {
    margin-top: var(--spacing-48);
    margin-bottom: var(--spacing-48);
  }
  .margin-y-64 {
    margin-top: var(--spacing-64);
    margin-bottom: var(--spacing-64);
  }

  /* Width Classes */
  .width-0 {
    width: var(--spacing-0);
  }
  .width-2 {
    width: var(--spacing-2);
  }
  .width-4 {
    width: var(--spacing-4);
  }
  .width-8 {
    width: var(--spacing-8);
  }
  .width-12 {
    width: var(--spacing-12);
  }
  .width-16 {
    width: var(--spacing-16);
  }
  .width-24 {
    width: var(--spacing-24);
  }
  .width-32 {
    width: var(--spacing-32);
  }
  .width-40 {
    width: var(--spacing-40);
  }
  .width-48 {
    width: var(--spacing-48);
  }
  .width-64 {
    width: var(--spacing-64);
  }

  /* Height Classes */
  .height-0 {
    height: var(--spacing-0);
  }
  .height-2 {
    height: var(--spacing-2);
  }
  .height-4 {
    height: var(--spacing-4);
  }
  .height-8 {
    height: var(--spacing-8);
  }
  .height-12 {
    height: var(--spacing-12);
  }
  .height-16 {
    height: var(--spacing-16);
  }
  .height-24 {
    height: var(--spacing-24);
  }
  .height-32 {
    height: var(--spacing-32);
  }
  .height-40 {
    height: var(--spacing-40);
  }
  .height-48 {
    height: var(--spacing-48);
  }
  .height-64 {
    height: var(--spacing-64);
  }

  /* Min/Max Width Classes */
  .min-width-0 {
    min-width: var(--spacing-0);
  }
  .min-width-2 {
    min-width: var(--spacing-2);
  }
  .min-width-4 {
    min-width: var(--spacing-4);
  }
  .min-width-8 {
    min-width: var(--spacing-8);
  }
  .min-width-12 {
    min-width: var(--spacing-12);
  }
  .min-width-16 {
    min-width: var(--spacing-16);
  }
  .min-width-24 {
    min-width: var(--spacing-24);
  }
  .min-width-32 {
    min-width: var(--spacing-32);
  }
  .min-width-40 {
    min-width: var(--spacing-40);
  }
  .min-width-48 {
    min-width: var(--spacing-48);
  }
  .min-width-64 {
    min-width: var(--spacing-64);
  }

  .max-width-0 {
    max-width: var(--spacing-0);
  }
  .max-width-2 {
    max-width: var(--spacing-2);
  }
  .max-width-4 {
    max-width: var(--spacing-4);
  }
  .max-width-8 {
    max-width: var(--spacing-8);
  }
  .max-width-12 {
    max-width: var(--spacing-12);
  }
  .max-width-16 {
    max-width: var(--spacing-16);
  }
  .max-width-24 {
    max-width: var(--spacing-24);
  }
  .max-width-32 {
    max-width: var(--spacing-32);
  }
  .max-width-40 {
    max-width: var(--spacing-40);
  }
  .max-width-48 {
    max-width: var(--spacing-48);
  }
  .max-width-64 {
    max-width: var(--spacing-64);
  }

  /* Min/Max Height Classes */
  .min-height-0 {
    min-height: var(--spacing-0);
  }
  .min-height-2 {
    min-height: var(--spacing-2);
  }
  .min-height-4 {
    min-height: var(--spacing-4);
  }
  .min-height-8 {
    min-height: var(--spacing-8);
  }
  .min-height-12 {
    min-height: var(--spacing-12);
  }
  .min-height-16 {
    min-height: var(--spacing-16);
  }
  .min-height-24 {
    min-height: var(--spacing-24);
  }
  .min-height-32 {
    min-height: var(--spacing-32);
  }
  .min-height-40 {
    min-height: var(--spacing-40);
  }
  .min-height-48 {
    min-height: var(--spacing-48);
  }
  .min-height-64 {
    min-height: var(--spacing-64);
  }

  .max-height-0 {
    max-height: var(--spacing-0);
  }
  .max-height-2 {
    max-height: var(--spacing-2);
  }
  .max-height-4 {
    max-height: var(--spacing-4);
  }
  .max-height-8 {
    max-height: var(--spacing-8);
  }
  .max-height-12 {
    max-height: var(--spacing-12);
  }
  .max-height-16 {
    max-height: var(--spacing-16);
  }
  .max-height-24 {
    max-height: var(--spacing-24);
  }
  .max-height-32 {
    max-height: var(--spacing-32);
  }
  .max-height-40 {
    max-height: var(--spacing-40);
  }
  .max-height-48 {
    max-height: var(--spacing-48);
  }
  .max-height-64 {
    max-height: var(--spacing-64);
  }

  /* Gap Classes */
  .gap-0 {
    gap: var(--spacing-0);
  }
  .gap-2 {
    gap: var(--spacing-2);
  }
  .gap-4 {
    gap: var(--spacing-4);
  }
  .gap-8 {
    gap: var(--spacing-8);
  }
  .gap-12 {
    gap: var(--spacing-12);
  }
  .gap-16 {
    gap: var(--spacing-16);
  }
  .gap-24 {
    gap: var(--spacing-24);
  }
  .gap-32 {
    gap: var(--spacing-32);
  }
  .gap-40 {
    gap: var(--spacing-40);
  }
  .gap-48 {
    gap: var(--spacing-48);
  }
  .gap-64 {
    gap: var(--spacing-64);
  }

  /* Row Gap Classes */
  .gap-row-0 {
    row-gap: var(--spacing-0);
  }
  .gap-row-2 {
    row-gap: var(--spacing-2);
  }
  .gap-row-4 {
    row-gap: var(--spacing-4);
  }
  .gap-row-8 {
    row-gap: var(--spacing-8);
  }
  .gap-row-12 {
    row-gap: var(--spacing-12);
  }
  .gap-row-16 {
    row-gap: var(--spacing-16);
  }
  .gap-row-24 {
    row-gap: var(--spacing-24);
  }
  .gap-row-32 {
    row-gap: var(--spacing-32);
  }
  .gap-row-40 {
    row-gap: var(--spacing-40);
  }
  .gap-row-48 {
    row-gap: var(--spacing-48);
  }
  .gap-row-64 {
    row-gap: var(--spacing-64);
  }

  /* Column Gap Classes */
  .gap-col-0 {
    column-gap: var(--spacing-0);
  }
  .gap-col-2 {
    column-gap: var(--spacing-2);
  }
  .gap-col-4 {
    column-gap: var(--spacing-4);
  }
  .gap-col-8 {
    column-gap: var(--spacing-8);
  }
  .gap-col-12 {
    column-gap: var(--spacing-12);
  }
  .gap-col-16 {
    column-gap: var(--spacing-16);
  }
  .gap-col-24 {
    column-gap: var(--spacing-24);
  }
  .gap-col-32 {
    column-gap: var(--spacing-32);
  }
  .gap-col-40 {
    column-gap: var(--spacing-40);
  }
  .gap-col-48 {
    column-gap: var(--spacing-48);
  }
  .gap-col-64 {
    column-gap: var(--spacing-64);
  }

  /* Padding Classes */
  .padding-0 {
    padding: var(--spacing-0);
  }
  .padding-2 {
    padding: var(--spacing-2);
  }
  .padding-4 {
    padding: var(--spacing-4);
  }
  .padding-8 {
    padding: var(--spacing-8);
  }
  .padding-12 {
    padding: var(--spacing-12);
  }
  .padding-16 {
    padding: var(--spacing-16);
  }
  .padding-24 {
    padding: var(--spacing-24);
  }
  .padding-32 {
    padding: var(--spacing-32);
  }
  .padding-40 {
    padding: var(--spacing-40);
  }
  .padding-48 {
    padding: var(--spacing-48);
  }
  .padding-64 {
    padding: var(--spacing-64);
  }

  /* Directional Padding Classes */
  .padding-t-0 {
    padding-top: var(--spacing-0);
  }
  .padding-t-2 {
    padding-top: var(--spacing-2);
  }
  .padding-t-4 {
    padding-top: var(--spacing-4);
  }
  .padding-t-8 {
    padding-top: var(--spacing-8);
  }
  .padding-t-12 {
    padding-top: var(--spacing-12);
  }
  .padding-t-16 {
    padding-top: var(--spacing-16);
  }
  .padding-t-24 {
    padding-top: var(--spacing-24);
  }
  .padding-t-32 {
    padding-top: var(--spacing-32);
  }
  .padding-t-40 {
    padding-top: var(--spacing-40);
  }
  .padding-t-48 {
    padding-top: var(--spacing-48);
  }
  .padding-t-64 {
    padding-top: var(--spacing-64);
  }

  .padding-r-0 {
    padding-right: var(--spacing-0);
  }
  .padding-r-2 {
    padding-right: var(--spacing-2);
  }
  .padding-r-4 {
    padding-right: var(--spacing-4);
  }
  .padding-r-8 {
    padding-right: var(--spacing-8);
  }
  .padding-r-12 {
    padding-right: var(--spacing-12);
  }
  .padding-r-16 {
    padding-right: var(--spacing-16);
  }
  .padding-r-24 {
    padding-right: var(--spacing-24);
  }
  .padding-r-32 {
    padding-right: var(--spacing-32);
  }
  .padding-r-40 {
    padding-right: var(--spacing-40);
  }
  .padding-r-48 {
    padding-right: var(--spacing-48);
  }
  .padding-r-64 {
    padding-right: var(--spacing-64);
  }

  .padding-b-0 {
    padding-bottom: var(--spacing-0);
  }
  .padding-b-2 {
    padding-bottom: var(--spacing-2);
  }
  .padding-b-4 {
    padding-bottom: var(--spacing-4);
  }
  .padding-b-8 {
    padding-bottom: var(--spacing-8);
  }
  .padding-b-12 {
    padding-bottom: var(--spacing-12);
  }
  .padding-b-16 {
    padding-bottom: var(--spacing-16);
  }
  .padding-b-24 {
    padding-bottom: var(--spacing-24);
  }
  .padding-b-32 {
    padding-bottom: var(--spacing-32);
  }
  .padding-b-40 {
    padding-bottom: var(--spacing-40);
  }
  .padding-b-48 {
    padding-bottom: var(--spacing-48);
  }
  .padding-b-64 {
    padding-bottom: var(--spacing-64);
  }

  .padding-l-0 {
    padding-left: var(--spacing-0);
  }
  .padding-l-2 {
    padding-left: var(--spacing-2);
  }
  .padding-l-4 {
    padding-left: var(--spacing-4);
  }
  .padding-l-8 {
    padding-left: var(--spacing-8);
  }
  .padding-l-12 {
    padding-left: var(--spacing-12);
  }
  .padding-l-16 {
    padding-left: var(--spacing-16);
  }
  .padding-l-24 {
    padding-left: var(--spacing-24);
  }
  .padding-l-32 {
    padding-left: var(--spacing-32);
  }
  .padding-l-40 {
    padding-left: var(--spacing-40);
  }
  .padding-l-48 {
    padding-left: var(--spacing-48);
  }
  .padding-l-64 {
    padding-left: var(--spacing-64);
  }

  .padding-x-0 {
    padding-left: var(--spacing-0);
    padding-right: var(--spacing-0);
  }
  .padding-x-2 {
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
  }
  .padding-x-4 {
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
  }
  .padding-x-8 {
    padding-left: var(--spacing-8);
    padding-right: var(--spacing-8);
  }
  .padding-x-12 {
    padding-left: var(--spacing-12);
    padding-right: var(--spacing-12);
  }
  .padding-x-16 {
    padding-left: var(--spacing-16);
    padding-right: var(--spacing-16);
  }
  .padding-x-24 {
    padding-left: var(--spacing-24);
    padding-right: var(--spacing-24);
  }
  .padding-x-32 {
    padding-left: var(--spacing-32);
    padding-right: var(--spacing-32);
  }
  .padding-x-40 {
    padding-left: var(--spacing-40);
    padding-right: var(--spacing-40);
  }
  .padding-x-48 {
    padding-left: var(--spacing-48);
    padding-right: var(--spacing-48);
  }
  .padding-x-64 {
    padding-left: var(--spacing-64);
    padding-right: var(--spacing-64);
  }

  .padding-y-0 {
    padding-top: var(--spacing-0);
    padding-bottom: var(--spacing-0);
  }
  .padding-y-2 {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
  }
  .padding-y-4 {
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-4);
  }
  .padding-y-8 {
    padding-top: var(--spacing-8);
    padding-bottom: var(--spacing-8);
  }
  .padding-y-12 {
    padding-top: var(--spacing-12);
    padding-bottom: var(--spacing-12);
  }
  .padding-y-16 {
    padding-top: var(--spacing-16);
    padding-bottom: var(--spacing-16);
  }
  .padding-y-24 {
    padding-top: var(--spacing-24);
    padding-bottom: var(--spacing-24);
  }
  .padding-y-32 {
    padding-top: var(--spacing-32);
    padding-bottom: var(--spacing-32);
  }
  .padding-y-40 {
    padding-top: var(--spacing-40);
    padding-bottom: var(--spacing-40);
  }
  .padding-y-48 {
    padding-top: var(--spacing-48);
    padding-bottom: var(--spacing-48);
  }
  .padding-y-64 {
    padding-top: var(--spacing-64);
    padding-bottom: var(--spacing-64);
  }

  .border-radius-sm {
    border-radius: var(--border-radius-sm);
  }
  .border-radius-md {
    border-radius: var(--border-radius-md);
  }
  .border-radius-lg {
    border-radius: var(--border-radius-lg);
  }
  .border-radius-xl {
    border-radius: var(--border-radius-xl);
  }
  .border-radius-2xl {
    border-radius: var(--border-radius-2xl);
  }
  .border-radius-rounded {
    border-radius: var(--border-radius-rounded);
  }

  /* Top Border Radius */
  .border-radius-t-sm {
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);
  }
  .border-radius-t-md {
    border-top-left-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);
  }
  .border-radius-t-lg {
    border-top-left-radius: var(--border-radius-lg);
    border-top-right-radius: var(--border-radius-lg);
  }
  .border-radius-t-xl {
    border-top-left-radius: var(--border-radius-xl);
    border-top-right-radius: var(--border-radius-xl);
  }
  .border-radius-t-2xl {
    border-top-left-radius: var(--border-radius-2xl);
    border-top-right-radius: var(--border-radius-2xl);
  }
  .border-radius-t-rounded {
    border-top-left-radius: var(--border-radius-rounded);
    border-top-right-radius: var(--border-radius-rounded);
  }

  /* Bottom Border Radius */
  .border-radius-b-sm {
    border-bottom-left-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-sm);
  }
  .border-radius-b-md {
    border-bottom-left-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
  }
  .border-radius-b-lg {
    border-bottom-left-radius: var(--border-radius-lg);
    border-bottom-right-radius: var(--border-radius-lg);
  }
  .border-radius-b-xl {
    border-bottom-left-radius: var(--border-radius-xl);
    border-bottom-right-radius: var(--border-radius-xl);
  }
  .border-radius-b-2xl {
    border-bottom-left-radius: var(--border-radius-2xl);
    border-bottom-right-radius: var(--border-radius-2xl);
  }
  .border-radius-b-rounded {
    border-bottom-left-radius: var(--border-radius-rounded);
    border-bottom-right-radius: var(--border-radius-rounded);
  }

  /* Left Border Radius */
  .border-radius-l-sm {
    border-top-left-radius: var(--border-radius-sm);
    border-bottom-left-radius: var(--border-radius-sm);
  }
  .border-radius-l-md {
    border-top-left-radius: var(--border-radius-md);
    border-bottom-left-radius: var(--border-radius-md);
  }
  .border-radius-l-lg {
    border-top-left-radius: var(--border-radius-lg);
    border-bottom-left-radius: var(--border-radius-lg);
  }
  .border-radius-l-xl {
    border-top-left-radius: var(--border-radius-xl);
    border-bottom-left-radius: var(--border-radius-xl);
  }
  .border-radius-l-2xl {
    border-top-left-radius: var(--border-radius-2xl);
    border-bottom-left-radius: var(--border-radius-2xl);
  }
  .border-radius-l-rounded {
    border-top-left-radius: var(--border-radius-rounded);
    border-bottom-left-radius: var(--border-radius-rounded);
  }

  /* Right Border Radius */
  .border-radius-r-sm {
    border-top-right-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-sm);
  }
  .border-radius-r-md {
    border-top-right-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
  }
  .border-radius-r-lg {
    border-top-right-radius: var(--border-radius-lg);
    border-bottom-right-radius: var(--border-radius-lg);
  }
  .border-radius-r-xl {
    border-top-right-radius: var(--border-radius-xl);
    border-bottom-right-radius: var(--border-radius-xl);
  }
  .border-radius-r-2xl {
    border-top-right-radius: var(--border-radius-2xl);
    border-bottom-right-radius: var(--border-radius-2xl);
  }
  .border-radius-r-rounded {
    border-top-right-radius: var(--border-radius-rounded);
    border-bottom-right-radius: var(--border-radius-rounded);
  }

  /* Top Left Border Radius */
  .border-radius-tl-sm {
    border-top-left-radius: var(--border-radius-sm);
  }
  .border-radius-tl-md {
    border-top-left-radius: var(--border-radius-md);
  }
  .border-radius-tl-lg {
    border-top-left-radius: var(--border-radius-lg);
  }
  .border-radius-tl-xl {
    border-top-left-radius: var(--border-radius-xl);
  }
  .border-radius-tl-2xl {
    border-top-left-radius: var(--border-radius-2xl);
  }
  .border-radius-tl-rounded {
    border-top-left-radius: var(--border-radius-rounded);
  }

  /* Top Right Border Radius */
  .border-radius-tr-sm {
    border-top-right-radius: var(--border-radius-sm);
  }
  .border-radius-tr-md {
    border-top-right-radius: var(--border-radius-md);
  }
  .border-radius-tr-lg {
    border-top-right-radius: var(--border-radius-lg);
  }
  .border-radius-tr-xl {
    border-top-right-radius: var(--border-radius-xl);
  }
  .border-radius-tr-2xl {
    border-top-right-radius: var(--border-radius-2xl);
  }
  .border-radius-tr-rounded {
    border-top-right-radius: var(--border-radius-rounded);
  }

  /* Bottom Left Border Radius */
  .border-radius-bl-sm {
    border-bottom-left-radius: var(--border-radius-sm);
  }
  .border-radius-bl-md {
    border-bottom-left-radius: var(--border-radius-md);
  }
  .border-radius-bl-lg {
    border-bottom-left-radius: var(--border-radius-lg);
  }
  .border-radius-bl-xl {
    border-bottom-left-radius: var(--border-radius-xl);
  }
  .border-radius-bl-2xl {
    border-bottom-left-radius: var(--border-radius-2xl);
  }
  .border-radius-bl-rounded {
    border-bottom-left-radius: var(--border-radius-rounded);
  }

  /* Bottom Right Border Radius */
  .border-radius-br-sm {
    border-bottom-right-radius: var(--border-radius-sm);
  }
  .border-radius-br-md {
    border-bottom-right-radius: var(--border-radius-md);
  }
  .border-radius-br-lg {
    border-bottom-right-radius: var(--border-radius-lg);
  }
  .border-radius-br-xl {
    border-bottom-right-radius: var(--border-radius-xl);
  }
  .border-radius-br-2xl {
    border-bottom-right-radius: var(--border-radius-2xl);
  }
  .border-radius-br-rounded {
    border-bottom-right-radius: var(--border-radius-rounded);
  }
  .border-width-0 {
    border-width: var(--border-width-xs);
  }
  .border-width-sm {
    border-width: var(--border-width-sm);
  }
  .border-width-md {
    border-width: var(--border-width-md);
  }
  .border-width-lg {
    border-width: var(--border-width-lg);
  }
  .effect-shadow-2 {
    box-shadow:
      0 var(--effect-shadow-2-cast-y) var(--effect-shadow-2-cast-blur)
        rgba(0, 0, 0, 0.1),
      0 var(--effect-shadow-2-core-y) var(--effect-shadow-2-core-blur)
        rgba(0, 0, 0, 0.06);
  }
  .effect-shadow-4 {
    box-shadow:
      0 var(--effect-shadow-4-cast-y) var(--effect-shadow-4-cast-blur)
        rgba(0, 0, 0, 0.1),
      0 var(--effect-shadow-4-core-y) var(--effect-shadow-4-core-blur)
        rgba(0, 0, 0, 0.06);
  }
  .effect-shadow-8 {
    box-shadow:
      0 var(--effect-shadow-8-cast-y) var(--effect-shadow-8-cast-blur)
        rgba(0, 0, 0, 0.1),
      0 var(--effect-shadow-8-core-y) var(--effect-shadow-8-core-blur)
        rgba(0, 0, 0, 0.06);
  }
  .effect-shadow-16 {
    box-shadow:
      0 var(--effect-shadow-16-cast-y) var(--effect-shadow-16-cast-blur)
        rgba(0, 0, 0, 0.1),
      0 var(--effect-shadow-16-core-y) var(--effect-shadow-16-core-blur)
        rgba(0, 0, 0, 0.06);
  }
}
