@theme {
  --color-cheese-50: #fffcdb;
  --color-cheese-100: #fff7b2;
  --color-cheese-200: #fff49a;
  --color-cheese-300: #fff081;
  --color-cheese-400: #ffe75c;
  --color-cheese-500: #fbd93c;
  --color-cheese-600: #e9bf2e;
  --color-cheese-700: #d2a42a;
  --color-cheese-800: #a6781e;
}
