@theme {
  --color-cheese-50: #fffcdb;
  --color-cheese-100: #fff7b2;
  --color-cheese-200: #fff49a;
  --color-cheese-300: #fff081;
  --color-cheese-400: #ffe75c;
  --color-cheese-500: #fbd93c;
  --color-cheese-600: #e9bf2e;
  --color-cheese-700: #d2a42a;
  --color-cheese-800: #a6781e;

  --color-gray-50: #f8f9fa;
  --color-gray-100: #f1f3f4;
  --color-gray-200: #e8eaed;
  --color-gray-300: #dadce0;
  --color-gray-400: #bdc1c6;
  --color-gray-500: #9aa0a6;
  --color-gray-600: #80868b;
  --color-gray-700: #5f6368;
  --color-gray-800: #3c4043;
  --color-gray-900: #202124;

  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #69d886;
  --color-green-500: #4ade80;
  --color-green-600: #22c55e;
  --color-green-700: #16a34a;
  --color-green-800: #15803d;
  --color-green-900: #166534;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #91cfff;
  --color-blue-500: #60a5fa;
  --color-blue-600: #3b82f6;
  --color-blue-700: #2563eb;
  --color-blue-800: #1d4ed8;
  --color-blue-900: #1e40af;

  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
}
