@import 'tailwindcss';
@import '../theme/colors.css';
@import '../theme/radius.css';
@import '../theme/font.css';
@import '../theme/breakpoints.css';
@import '../theme/z-index.css';
@import '../theme/animations.css';

html {
  font-size: 10px;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-relaxed);
  font-weight: var(--font-weight-normal);
}
