@import 'tailwindcss';

@import '../../config/tailwind/animations.css';
@import '../../config/tailwind/z-index.css';
@import '../../config/tailwind/breakpoint.css';

@import '../../config/tailwind/primitive/color.css';
@import '../../config/tailwind/primitive/measurement.css';
@import '../../config/tailwind/primitive/typography.css';

@import '../../config/tailwind/theme/index.css';

@import '../../config/tailwind/semantic/typography.css';
@import '../../config/tailwind/semantic/color.css';
@import '../../config/tailwind/semantic/appearance.css';

html {
  font-size: 16px;
}

:root {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--color-background-secondary)
    var(--color-background-secondary);
}

body {
  color: var(--color-text-primary);
  font-family: var(--font-family-typeface-sans);
  font-size: var(--font-size-400);
  line-height: var(--line-height-500);
  font-weight: var(--font-style-normal-regular);
}
